{% extends "layout.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height:60vh;">
    <div class="card border-primary" style="width: 24rem;">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Sign Up</h4>
            <form method="POST" autocomplete="off">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button class="btn btn-primary w-100">Register</button>
            </form>
            <div class="mt-3 text-center">
                <span>Already have an account? <a href="{{ url_for('login') }}">Login</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
